{% block content %} 
	<p>An empty, simple boilerplate for a fresh start.</p>     
	<!-- TODO: Create my project :-) -->
	{% raw %} 

	ffIn Handlebars, {% if "pete" %} will be HTML-escaped {% endif %}
fff
	{% endraw %}
{% endblock %}